*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

.navbar{
display: block;
float: right;
height: 50px;
padding: 10px;
}

.link{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
}

.link a{
    text-decoration: none;
    color: #181717;
}

.link a:hover{
    text-decoration: underline;
    color: #181717;
}

.menu, .pfp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.pfp img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    
}
.menu img{
    width: 24px;
    height: 24px;
    border-radius: 50%; 
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;

}

.search{
display: flex;
justify-content: center;
align-items: center;
min-width: 280px;
width: 45%;
height: 45px;
border: 1px solid#e7e8eb;
border-radius: 30px;
padding: 5px 15px;
margin: 25px;
cursor: pointer;
}

.search img{
    height: 20px;
}
.search:hover{
box-shadow: 0 1px 6px rgb(32 33 36 /28%)
}

.search span{
    height: 16px;
    width: 16px;
    color: #a5aab0;
}

.google-logo{
    width: 100%;
    max-width: 400px;
    cursor: pointer;
    height: 120px;
}




.search input{
    width: 90%;
    height: 100%;
    border: none;
    font-size: 16px;
    outline: none;
}

.search-button button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #181717;
    font-size: 14px;
    text-align: center;
    padding: 10px 16px;
    margin: 0 4px;
    cursor: pointer;
}

.search-button button:hover{
    border: 01px solid #e7e8eb;
    box-shadow: 0 3px 3px -3px #a5aab0;
}

.language{
    display: flex;
    font-size: 14px;
    margin: 30px 0;
}

.language a{
    text-decoration: none;
    color: #1a0dab;
    padding: 0 5px;
}
.language a:hover{
    text-decoration: underline;
}



.location{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}

.bottom{
    padding: 15px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;
    font-size: 14px;
    color: #6f6f6f;
}

@media (max-width: 1000px) {
    .bottom {
        display: flex;
        flex-direction: column;
}
.right, .left, .center{
    padding: 10px 0;}
.bottom a{
    padding: 0 10px;}
}

.bottom a{
    text-decoration: none;
    color: #6f6f6f;
}
.bottom a:hover{
    text-decoration: underline;
    color: #6f6f6f;   
}

.center img{
    height: 16px;
    width: 16px;
}

